
<img src="images/crew.jpg" alt="Blue Heaven Technologies Team Members" width="" id="footer_photo" />

<p>Blue Heaven Technologies</p>
<p>2820 S. English Station Road</p>
<p>Louisville, KY 40299</p>
<p><a href="tel:+15023570132"><img src="images/phone.png" alt="Phone symbol" id="phone_symbol" />&nbsp; 502-357-0132</a></p>
<p><a href="mailto:info@blueheaventech.info"><img src="images/mail.png" alt="Mail symbol" id="mail_symbol" />&nbsp; info@blueheaventech.com</a></p>

<a href="https://www.facebook.com/Blue-Heaven-Technologies-1652530911638513/" target="_blank"><img src="images/facebook-wrap.png" alt="Facebook Logo" /></a>

<p id="copyright_info">Copyright &copy; 2016 Blue Heaven Technologies</p>
